.postModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.3s;
}

.postmodal__content {
  width: 100%;
  max-width: 555px;
  background-color: white;
  max-height: 90%;
  overflow: initial;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50px;
  margin: 0 auto;
}

.postModal__header {
  display: block;
  padding: 16px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: lighter !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postModal__header > button {
  height: 40px;
  width: 40px;
  min-width: auto;
  color: rgba(0, 0, 0, 0.15);
}

.postModal__header > button > img {
  pointer-events: none;
}

.postModal__sharedContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  vertical-align: baseline;
  background: transparent;
  padding: 8px 12px;
}

.postModal__userInfo {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}

.postModal__userInfo > img {
  width: 48px;
  height: 48px;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.postModal__view > span {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.postModal__view {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  align-items: center;
}

.postModal__viewViewer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1px 12px;
  border-radius: 15px;
}

.postModal__viewIcon {
  width: 15px !important;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 5px;
}

.postModal__shareConent {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 12px 16px;
}

.postModal__textEditor {
  padding: 12px 24px;
}

.postModal__textEditor > textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
}

.postModal__textEditor > textarea > input {
  width: 100%;
  height: 35px;
  font-size: 16px;
  margin-bottom: 20px;
}

.postModal__assetButton {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 2px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.postModal__uploadImage {
  text-align: center;
  width: 100%;
}

.postModal__uploadImage > img {
  width: 100%;
}

.postModal__uploadImage > span:hover {
  color: #0a66c2;
}

.postModal__assetButton:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.postModal__attachAssets {
  align-items: center;
  display: flex;
  padding-right: 8px;
}

.postModal__shareComment {
  margin-left: 8px;
  margin-right: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.postModal__shareComment > button {
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background-color: transparent;
  border: none;
}

.postModal__shareCommentIcon {
  width: 15px !important;
}

.postModal__shareComment > button > span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.postModal__postBTN {
  min-width: 60px;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  background: #0a66c2;
  color: white;
  border: none;
  max-height: 32px;
}

.postModal__postBTN:disabled {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.3);
}

.postModal__postBTN:hover {
  background: #004182;
}

.postModal__postBTN:hover:disabled {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.06);
}
